.skills-section {
    margin: 10vh 0;
}

.skill-area {
    margin-top: 7vh;
    vertical-align: top;
    width: 25vw;
    display: inline-block;
}

.skill-icon {
    height: 200px;
}

@media only screen and (max-width: 750px) {
    .skill-area {
        width: 90vw;
    }
}